<div>
  <app-proudcts-header
(columesoutchanges)="columesoutchanges($event)"
(itemcountchanges)="onitemcountchange($event)"
(sortchanges)="onsortchange($event)"
>
</app-proudcts-header>
</div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-success ms-3" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
+Add PROUDCTS
</button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Addproudcts</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      <form [formGroup]="form">
<div class="row">
  <div class="col-md-4 col-sm-12">
  <label for="">Title</label>
  <input type="text" formControlName="title" class="form-control" placeholder="title"></div>
  <div class="col-md-4 col-sm-12">
  <label for="">Price</label>
  <input type="text" formControlName="price" class="form-control" placeholder="price"></div>
 <div class="col-md-4 col-sm-12">
  <label for="">category</label>
<select class="form-select" formControlName="category" aria-label="Default select example" >
  <option selected>Open this select menu</option>
  <option value="1">electronics</option>
  <option value="2">jewelery</option>
  <option value="3">men's clothing</option>
  <option value="3">women'sbclothing</option>
</select>
 </div>
  <div class="col-md-4 col-sm-12">
  <label for="">images</label>
  <img src="{{base64}}" alt="">
  <input type="file" class="form-control" (change)="getimagepath($event)"></div>
  <div class="col-md-8 col-sm-12">
  <label for="image">Description</label>
<textarea formControlName="description" class="form-control" placeholder="type here .."></textarea></div>
</div>

      </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success" [disabled]="!form.valid" (click)="addproudct();">+Add</button>

      </div>
    </div>
  </div>
</div>
<div>
  <mat-grid-list gutterSize="16" [cols]="cols" [rowHeight]="rowHeight">
  <mat-grid-tile *ngFor="let proudct of proudcts">
    <app-proudct-box
      [proudct]="proudct"
      (addtocart)="onaddtocart($event)"
      class="w-full"
      [fullwidthmode]="cols === 1">
    </app-proudct-box>
  </mat-grid-tile>
</mat-grid-list>


</div>
