<mat-card class="max-w-7xl mx-auto" *ngIf="cart.items.length">
  <table mat-table [dataSource]="datasource" class="mat-elevetaion-z8 w-full">
    <ng-container matColumnDef="proudct">
      <th mat-header-cell *matHeaderCellDef>proudct</th>
      <td mat-cell *matCellDef="let element">
        <img src="{{ element.proudct }}" alt="proudct" class="w-[100px] my-5" />
      </td>
      <td mat-footer-cell *matFooterCellDef>
        <button class="justify-between" mat mat-raised-button routerLink="/home">
          contineue shopping
        </button>
      </td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>name</th>
      <td mat-cell *matCellDef="let element">
        <span class="truncate max-w-xs" >{{ element.name }}</span>
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef>price</th>
      <td mat-cell *matCellDef="let element">
        {{ element.price | currency }}
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef>Quantity</th>
      <td mat-cell *matCellDef="let element">
        <button (click)="onremovequantity(element)"
        mat-icon-button>
          <mat-icon>remove</mat-icon>
        </button>
        <span>{{ element.quantity }}</span>
        <button (click)="onaddquantity(element)"
        mat-icon-button>
          <mat-icon>add</mat-icon>
        </button>
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <ng-container matColumnDef="total">
      <th mat-header-cell *matHeaderCellDef>total</th>
      <td mat-cell *matCellDef="let element">
        <span>{{ element.quantity * element.price }}</span>
      </td>
      <td mat-footer-cell *matFooterCellDef>
        <span class="font-bold py-5 block">
          {{ gettoltal(cart.items) | currency }}
        </span>
      </td>
    </ng-container>
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>
        <button
          mat-raised-button
          color="warn"
          class="float-right"
          (click)="onclearcart()"
        >
          clear all
        </button>
      </th>
      <td mat-cell *matCellDef="let element">
        <button
          (click)="onremovefromcart(element)"
          mat-mini-fab
          color="warn"
          class="float-right"
        >
          <mat-icon>close</mat-icon>
        </button>
      </td>
      <td mat-footer-cell *matFooterCellDef>
        <button
        routerLink="/pay"
        mat-raised-button color="primary" class="float-right">
          proced to checkout
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displaycolumnes"></tr>
    <tr mat-row *matRowDef="let row; columns: displaycolumnes"></tr>
    <tr mat-footer-row *matFooterRowDef="displaycolumnes"></tr>
  </table>
</mat-card>
<mat-card class="max-w-7xl mx-auto" *ngIf="!cart.items.length">
  <p>
    Your cart is emptey
    <button mat mat-raised-button routerLink="/home">Start shopping</button>
  </p>
</mat-card>
