.mat-table {
  width: 100%;
  border-collapse: collapse;
}

.mat-header-cell,
.mat-cell {
  padding: 16px;
  text-align: left;
}

.empty-cart-row td {
  text-align: center;
  padding: 20px;
}

.empty-cart-message {
  font-size: 1.2rem;
  color: gray;
}

.shop-now-btn {
  background-color: #007bff;
  color: white;
}

button.increase-btn {
  background-color: rgba(40, 167, 69, 0.5);
  border: none;
  color: white;
  transition: background-color 0.3s ease;
}


button.increase-btn:hover {
  background-color: rgba(40, 167, 69, 1);

}


button.decrease-btn {
  background-color: rgba(255, 0, 0, 0.5);

  border: none;
  color: white;
  transition: background-color 0.3s ease;
}


button.decrease-btn:hover {
  background-color: rgba(255, 0, 0, 1);

}
